.robot-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .button_1 {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #4CAF50;
    background-color: transparent;
    border: 1px solid #4CAF50;
  border-radius: 10px;
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
  }
  .btngood{
     background: transparent;
     border: none;
     text-decoration: none;
  }
  .voice-icon {
    font-size: 24px;
    cursor: pointer;
    color: #4CAF50;
    margin-left: 1rem;
  }
  .pgreen{
    font-size: 24px;
    cursor: pointer;
    color: #4CAF50;
  }
  .header2 {
    cursor: pointer;
    color: #4CAF50;
  }
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .keyboard-button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  